@keyframes move-background {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.moving-background {
  background: linear-gradient(270deg, #6B46C1, #4299E1, #667EEA, #805AD5);
  background-size: 400% 400%;
  animation: move-background 10s linear infinite;
}